RewriteEngine On
RewriteBase /report-dpk/v-2/

RewriteRule ^$ index.php?page=launcher [QSA,L]
RewriteRule ^report_npl/?$ index.php?page=collection [QSA,L]
RewriteRule ^(launcher|components|collection|templates|settings)/?$ index.php?page=$1 [QSA,L]
